<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About school</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="abschool">

<div class="button">
<a href="/"><img src="static/images/logoend.png"></a>
</div>

<div class="abouten">

<h1>О школе</h1>
<p>Онлайн-школа «Enlern» — современный сервис персонального обучения английскому языку. <br>Помогаем нашим ученикам повышать уровень знаний и получать удовольствие от каждого урока.</p>

</div>


<a href="/ishak"><p class="prob">Пробный урок</p></a>

</body>
</html>