<!Doctype HTML>

<html>

	<head>
		<title>Enlern</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/css/style.css">
	</head>

<body>

<header id="navigation">
	<nav>

	<ul>
		<li><a href="/lesson">Как проходит занятие</a></li>
		<li><a href="#timetable">Расписание</a></li>
		<li><a href="#prices">Цены</a></li>
		<li><a href="/teachers">Учителя</a></li>
	</ul>

		<a href="tel:+380891205230" class="tel">+380891205230</a>
	<img src="static/images/logo.png">
			<h1>Учите английский онлайн</h1>
			<p>Персональные занятия с сильными преподавателями от 300 UAH</p>
		<a href="/ishak"><p class="tp">Попробовать бесплатно</p></a>
	</nav>
</header>



	<section class="All_mad_here">

	<h2>Какова ваша цель?</h2>
	<p>Мы готовы решить любую задачу, подобрав сильного преподавателя и правильный курс английского по Zoom</p>

		<p id="sd">онлайн курс</p>
	<input type="radio" name="point" id="Joy" checked>
	<input type="radio" name="point" id="Sadness">
	<input type="radio" name="point" id="Anger">
	<input type="radio" name="point" id="Fear">
	<input type="radio" name="point" id="Disgust">

	<div class="labels">
	<label for="Joy">Свободное общение</label><br>
	<label for="Sadness">Уверенный старт</label><br>
	 <label for="Anger">Деловые коммуникации</label><br>
	 <label for="Fear">Путишествие</label><br>
	 <label for="Disgust">Собеседование</label><br>
	</div>

	<div class="emotions"></div>

	</section>


<section class="vod">

	<div class="txt">

	<h2>Вводный урок — бесплатно!</h2>

<p>
	Познакомьтесь со своим будущим преподавателем<br>
и узнайте свой уровень английского на пробном уроке
</p>
	</div>

	<img src="/static/images/teacher-1.png">

	<a href="/ishak">Записаться</a>
</section>





	<section class="galery">


	<div class="one">
		<h5>5 уроков</h5>
		<h1>500 UAH</h1>
	</div>

	<div class="two">
		<h5>10 уроков</h5>
		<h1>4500 UAH</h1>
		<p>-10%</p>
	</div>

	<div class="three">
		<h5>20 уроков</h5>
		<h1>8900 UAH</h1>
		<p>-20%</p>
	</div>

	<div class="four">
		<h5>40 уроков</h5>
		<h1>15000 UAH</h1>
		<p>-30%</p>
	</div>

	<div class="five">
		<h5>1 урок</h5>
		<h1>100 UAH</h1>
	</div>

	<div class="six">
		<h5>2 уроков</h5>
		<h1>190 UAH</h1>
		<p>-10%</p
	</div>


	</section>





	<section class="second_quote">

		<blockquote>

			<a href="#navigation"><img src="static/images/logoend.png"></a>
		</blockquote>

	</section>




<footer>
<ul class="foot">
	<b><li><a href="/">Главная</a></li></b>
	<b><li><a href="/teachers">Преподаватели</a></li></b>
	<b><li><a href="/about">О школе</a></li></b>
	<b><li>Отзывы</li></b>
	<b><li>Стоимость</li></b>

</ul>

	<img src="static/images/logo.png">

</footer>

	<div class="underfoot">
		<p>© 2014–2021 Enlern — онлайн-школа английского языка</p>

	</div>

</body>

</html>