<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="button">
<a href="/"><img src="static/images/logoend.png"></a>
</div>


<div class="videoless">
    <video controls width="1004" height="564" poster="static/images/poster.jpg">
                    <source src="static/video/Lesson.mp4" type="video/mp4">
    </video>
    <h1>Пробное занятие 10 октября</h1>
</div>


</body>
</html>