<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

	<section class="informations">
		<div class="actors_list">
			<h2>Учителя</h2>
			<ul>
				<li>Міа Васиковська - Аліса Кінгслі.</li>
				<li>Джонні Депп - Таррант Циліндр, Божевільний Капелюшник</li>
				<li>Хелена Бонем Картер - Ірацібета фон Крімс, Червона Королева</li>
				<li>Енн Хетеуей - Мірана фон Мараморіал, Біла Королева</li>
				<li>Кріспін Гловер - Ілосовіч Стейн, Валет Черв'яків</li>
				<li>Метт Лукас - Верть і Круть</li>
				<li>Майкл Шин - Нівенс МакТвісп, Білий Кролик (озвучування)</li>
				<li>Стівен Фрай - Чеширський Кіт (озвучування)</li>
				<li>Алан Рікман - Абсолю, Синя Гусінь (озвучування)</li>
				<li>Барбара Віндзор - Мальямкін, миша Соня (озвучування)</li>
				<li>Пол Уайтхаус - текера Ірвікет, Березневий Заєць (озвучування)</li>
				<li>Тімоті Сполл - Баярд Хаммар (озвучування)</li>
				<li>Мартон Чокаш - Чарльз Кінгслі, батько Аліси</li>
				<li>Тім Пиготт-Сміт - лорд Ескот, новий власник торгової фірми Кінгслі</li>
			</ul>
		</div>

	</section>

<div class="button">
<a href="/"><img src="static/images/logoend.png"></a>
</div>


</body>
</html>